
html,
body{
  height:100%;
  background-color:#333;
}

body{
  color: #fff;
  text-align: center;
  text-shadow: 0 1px 3px rgba(0,0,0,.5);
  padding-top: 50px;
  padding-bottom: 0;
}

.jumbotron{
  min-height:100%;
  color:#fff;
  padding: 0 20px;
}

/*
 *  Image profile
 */
#imageProfile{
  width: 143px;
  height: 180px;
}

/*
 *  Section
 */

.bg-strip-1{
  background-color: #333;
}
.bg-strip-2{
  background-color: #555;
}

/*
 *  Anchor class
 */
a:visited,
a:link{
  color: #fff;
}
a:hover{
  color: #999;
}

a.anchor{
  display: block;
  position: relative;
  top: -50px;
  visibility: hidden;
}

/*
 *  Fade in
 */
.fadein-scroll{
  opacity: 0;
}

/*
 *  Cover
 */
.cover{
  padding: 70px 20px 0px;
}
.cover-container{
  margin-left: auto;
  margin-right: auto;
ี}

/*
 *  Responsive
 */

@media (min-width: 768px){
  .cover-container{
    width: 100%;
  }
}

@media (min-width: 992px){
  .cover-container{
    width: 700px;
  }
}
